<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BulkProjectDelete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BulkProjectDelete.Properties.Settings>
            <setting name="ProjectDelete_QueueSystemWebSvc_QueueSystem" serializeAs="String">
                <value>http://devserver/pwa/_vti_bin/psi/QueueSystem.asmx</value>
            </setting>
            <setting name="ProjectDelete_ProjectWebSvc_Project" serializeAs="String">
                <value>http://devserver/pwa/_vti_bin/psi/project.asmx</value>
            </setting>
            <setting name="ProjectDelete_ArchiveWebSvc_Archive" serializeAs="String">
                <value>http://devserver/pwa/_vti_bin/psi/Archive.asmx</value>
            </setting>
        </BulkProjectDelete.Properties.Settings>
    </applicationSettings>
</configuration>